
    <div class="d-block ">
        <h1 class="title-1">E-SHOWROOM</h1>
    <h1 class="title-2">Fashion and design</h1>

    <% if (user) { %>
        <p>Witaj <%- user.email %></p>
        <p>ID: <%- user._id %></p>
        
        <% } %>
    </div>

    <div class="img-shop mt-5 d-flex ">
        <img src="/images/shop.jpg" alt="" class="shops">
        <img src="/images/shop2.jpg" alt="" class="shops">
        <img src="/images/shop1.jpg" alt="" class="shops">
    </div>>

